<h2>List of rentals</h2>

<ul class="rentals">
  <li (click)="onSelect(rental)" *ngFor="let rental of rentals" [class.selected]="rental === selectedRental">
    <span class="badge">ID: {{rental.rentalId}}</span> Movie: {{rental.movieId}} Client: {{rental.clientId}}
  </li>
</ul>

<div *ngIf="selectedRental" class=details>
  <h3>
    Details for rental {{selectedRental.rentalId}}
  </h3>
  <div>
    <span>Rental ID: </span>{{selectedRental.rentalId}}
  </div>
  <div>
    <span>Rental Movie ID: </span>{{selectedRental.movieId}}
  </div>
  <div>
    <span>Rental Client ID: </span>{{selectedRental.clientId}}
  </div>
  <label>
    Rental time: <input [(ngModel)]="selectedRental.time" placeholder="rental date"/>
  </label>
  <br>
  <br>
</div>


<nav>
  <div class="panels" routerLink="/rentals" routerLinkActive="active">< Back</div>
</nav>
