/* You can add global styles to this file, and also import other style files */
h1 {
  color: slateblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 190%;
}

a {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 150%;
}

.panels {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 4em;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  font-family: Arial, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 100%;
  text-align: center;
}

.panels:hover {
  background-color: bisque;
}

.details {
  font-size: 150%;
  font-family: Arial, Helvetica, sans-serif;
}

.details input {
  font-size: 70%;
}

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

.form-group label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  padding-right: 1rem;
}

.form-group input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 0.7rem 0.5rem;
  border-radius: 0.2rem;
  border: none;
  width: 30%;
}

.alert {
  color: red;
  font-family: Roboto, sans-serif;
  margin-left: 20px;
}

.cross-validation-error input {
  border: 2px solid red;
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

