<h2>Delete rental</h2>
<form #formDir="ngForm" [formGroup]="rentalForm">
  <div [hidden]="formDir.submitted">
    <div class="form-group">
      <label for="rentalId">Rental ID</label>
      <input class="form-control" formControlName="rentalId" id="rentalId" required>
      <div *ngIf="rentalId.invalid && (rentalId.dirty || rentalId.touched)" class="alert alert-danger">
        <div *ngIf="rentalId.errors.required">
          rentalId is required.
        </div>
        <div *ngIf="rentalId.errors.min">
          rentalId must be greater or equal than 0.
        </div>
        <div *ngIf="rentalId.errors.pattern">
          rentalId must consist only of digits.
        </div>
      </div>
    </div>

    <button (click)="delete(rentalId.value)" [disabled]="rentalForm.invalid" type="submit">
      Submit
    </button>
  </div>
  <div *ngIf="formDir.submitted" class="submitted-message">
    <p *ngIf="successfulDelete">Rental movie: {{rentalForm.value.rentalId}}
      deleted!</p>
    <p *ngIf="!successfulDelete">Rental delete failed: rental doesn't exist</p>
  </div>
</form>

<nav>
  <div class="panels" routerLink="/rentals" routerLinkActive="active">< Back</div>
</nav>
