<h2>List of clients</h2>
<form #formDir="ngForm" [formGroup]="pageForm">
  <div class="form-group">
    <label for="page">Page</label>
    <input class="form-control" formControlName="page" id="page" required>
    <div *ngIf="page.invalid && (page.dirty || page.touched)" class="alert alert-danger">
      <div *ngIf="page.errors.required">
        PAGE is required.
      </div>
      <div *ngIf="page.errors.min">
        PAGE must be greater or equal than 0.
      </div>
      <div *ngIf="page.errors.pattern">
        PAGE must consist only of digits.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="size">Size</label>
    <input class="form-control" formControlName="size" id="size" required>
    <div *ngIf="size.invalid && (size.dirty || size.touched)" class="alert">
      <div *ngIf="size.errors.required">
        Size is required.
      </div>
      <div *ngIf="size.errors.pattern">
        Size must consist only of digits.
      </div>
    </div>
  </div>
  <button (click)="getAllPaginated(page.value, size.value)" [disabled]="pageForm.invalid" type="submit">List</button>
</form>

<ul class="clients">
  <li (click)="onSelect(client)" *ngFor="let client of clients" [class.selected]="client === selectedClient">
    <span class="badge">{{client.id}}</span> {{client.name}}
  </li>
</ul>

<div *ngIf="selectedClient" class=details>
  <h3>
    Details for client {{selectedClient.name}}
  </h3>
  <div>
    <span>Client ID: </span>{{selectedClient.id}}
  </div>
  <label>
    Client name: <input [(ngModel)]="selectedClient.name" placeholder="client name"/>
  </label>
</div>


<nav>
  <div class="panels" routerLink="/clients" routerLinkActive="active">< Back</div>
</nav>
