<h2>Add client</h2>
<form #formDir="ngForm" [formGroup]="clientForm">
  <div [hidden]="formDir.submitted">
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" formControlName="name" id="name" required>
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
        <div *ngIf="name.errors.required">
          Name is required.
        </div>
        <div *ngIf="name.errors.pattern">
          Name must consist only of upper/lower-case letters.
        </div>
      </div>
    </div>
    <button (click)="add(name.value)" [disabled]="clientForm.invalid" type="submit">Submit</button>
  </div>
  <div *ngIf="formDir.submitted" class="submitted-message">
    <p *ngIf="successfulAdd">New client: {{clientForm.value.name}}!</p>
    <p *ngIf="!successfulAdd">Client add failed: client already exists</p>
  </div>
</form>

<nav>
  <div class="panels" routerLink="/clients" routerLinkActive="active">< Back</div>
</nav>
