<!--<p>clients works!</p>-->
<h2>
  Clients control panel
</h2>
<nav>
  <div style="display: flex; flex-direction: row;">
    <div class="panels" routerLink="/clients/list" routerLinkActive="active">List</div>
    <div class="panels" routerLink="/clients/add" routerLinkActive="active">Add</div>
    <div class="panels" routerLink="/clients/update" routerLinkActive="active">Update</div>
    <div class="panels" routerLink="/clients/delete" routerLinkActive="active">Delete</div>
    <div class="panelsWide" routerLink="/clients/filter/name" routerLinkActive="active">Filter by name</div>
  </div>
</nav>
